/* Normalização */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 190px;
}

/* ---------- DESKTOP --------- */
body {
  background: linear-gradient(180deg, #bb01fe, rgb(52, 1, 38));
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 190px;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  z-index: 999;
  top: 0px;
  /* background: #bb01fe; */
  margin: 0px;
  padding: 0px;
}
header img {
  width: 150px;
  /* position: absolute;
  z-index: 999; */
}
header img:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
}

nav {
  width: 70%;
  /* border: 1px solid rgb(245, 241, 241); */
  justify-content: flex-end;
  top: 0px;
}
nav ul {
  background: linear-gradient(90deg, #00000000, rgb(1, 0, 1));
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: flex-end;
  margin-top: 50px;
  opacity: 0.7;
  justify-content: flex-end;
  padding: 10px 40px 10px 0;
}

nav ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}
nav ul li a:hover {
  opacity: 0.5;
}

/* ------------------------------ CONTATO ----------------------- */
.left img {
  max-height: 500px;
  margin: auto;
  align-items: center;
  text-align: center;
  /* border: 2px solid rgb(204, 249, 3); */
}

.right,
.left {
  text-align: center;
  border: 1px solid white;
}
h1 {
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  margin: 0 auto;
  display: block;
  /* color: #f8f7f4; */
}
.title-gradiente {
  background: linear-gradient(0.9turn, #f66d04, rgb(3, 226, 251));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contato {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  /* border: 1px solid white; */
  color: rgba(255, 255, 255, 0.646);
  align-content: center;
  justify-content: center;
}
form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
form span {
  font-weight: 700;
}
form label {
  font-weight: 700;
  /* margin-bottom: 20px;
  padding-bottom: 30px; */
}
form input {
  width: 100%;
  background: #360149;
  padding: 5px;
  border: 1px solid #23002f;
  border-radius: 5px;
  margin: 5px 0px 10px 0px;
  color: #f8f7f4;
}
form input[type="radio"] {
  background: #240131;
  border: 1px solid #f6f3f7;
}
form textarea {
  width: 100%;
  min-height: 100px;
  background: #360149;
  padding: 5px;
  border: 1px solid #23002f;
  border-radius: 5px;
  margin: 5px 0px 10px 0px;
  color: #f8f7f4;
  resize: none;
}
form select {
  /* width: 100%; */
  background: #360149;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0px 10px 0px;
  color: #f8f7f4;
}
form button {
  /* min-width: 300px; */
  width: 100px;
  color: #febe01;
  background: #8b078d;
  padding: 10px;
  border: 1px solid #23002f;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  background: #23002f;
  color: #f8f7f4;
  transform: scale(1.2) translate(1%, 1%);
}
.genero {
  display: flex;
  justify-content: start;
  margin: 10px 0px;
}

.genero input {
  width: auto;
  margin: 0 10px;
}
/* .contato span {
  margin-bottom: 310px;
} */
/* ------------------------------ FIM CONTATO ----------------------- */
.box {
  width: 950px;
  border: rgb(66, 66, 66) solid 1px;
  background: rgb(280, 280, 280);
  padding: 40px;
  margin: 40px auto;
  position: relative;
}
.box h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px auto;
}

.box p {
  text-align: center;
  line-height: 25px;
  margin: 20px auto;
}

.box span {
  background: black;
  color: white;
  padding: 15px;
  position: absolute;
  top: -25px;
  left: 20px;
  border-radius: 5px;
  border: rgb(66, 66, 66) solid 3px;
}

/* grid card */
.item span {
  color: #febe01;
}

.item {
  background: rgb(250, 251, 252);
  color: #f8f7f4;
  padding: 30px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  border: #4f4e4e solid 1px;
  transition: 0.5s;
  text-align: center;
  min-height: 200px;
  align-items: center;
  margin: auto;
}
.item:hover {
  background: rgb(2, 88, 180);
  color: #f8f7f4;
  transform: scale(0.9) translate(1%, 1%);
}
.item:hover h2 {
  color: #f8f7f4;
}
.item:hover p {
  color: #f8f7f4;
}

.item h2 {
  text-align: center;
  font-size: 30px;
  color: #000;
  margin: 0px;
}
.item p {
  font-size: 15px;
  color: #000;
}

.grid {
  display: grid;
  width: 800px;
  margin: 60px auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* justify-content: space-evenly;
  align-content: space-around; */
}
/* fim section cards */

/* .flex div:nth-child(odd) {
  background: rgb(208, 255, 0);
} */

/* .contato {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  border: 1px solid white;
  color: rgba(255, 255, 255, 0.646);
  align-content: center;
  justify-content: center;
} */
@media (min-width: 1024px) and (max-width: 1920px) {
  .contato {
    width: 90%;
    grid-template-columns: 1fr;
    border: 1px solid white;
  }
  form {
    width: 800px;
    border: 1px solid rgb(229, 249, 2);
    /* margin: 0 auto;
    text-align: left; */
  }
}

@media (min-width: 834px) and (max-width: 1024px) {
  .contato {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 833px) {
  .contato {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .left img {
    display: none;
  }
}
